.button {
  background-color: @bright-background;
  color: @general-white;
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 10px;
  user-select: none;

  &:hover,
  &:focus {
    background-color: @bright-hover;
  }

  &:active {
    background-color: @bright-active;
  }
}
