.developer {
  margin: 0;
}

.developer__link {
  color: inherit;

  &:hover .developer__link-logo,
  &:active .developer__link-logo {
    fill: @bright-background;
  }

  &:active .developer__link-logo {
    fill: @general-black;
    opacity: 0.3;
  }
}

.developer__link-logo {
  position: relative;
  top: 12px;
  left: 8px;
}

@media (min-width: @tablet-width) {
  .developer {
    text-align: right;
    padding: 0;
  }

  .developer__link {
    top: -5px;
    left: -8px;
  }

  .developer__link-logo {
    left: 9px;
  }
}

@media (min-width: @desktop-width) {
  .developer__link-logo {
    left: 8px;
  }
}
