.main-navigation__wrapper {
  box-sizing: border-box;
  min-height: 56px;
  position: relative;
  display: flex;
}

.main-navigation__logo-link {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-navigation__list {
  .list-reset();
  width: 100%;
}

@media (max-width: @mobile-width) {
  .main-navigation {
    &--opened {
      padding-top: 223px;
    }
  }

  .main-navigation__toggle-button {
    width: 62px;
    height: 56px;
    border: none;
    padding: 0;
    background-color: inherit;
    margin-left: auto;

    .main-navigation--opened & {
      position: relative;
      z-index: 1;
      top: -223px;
    }

    .main-navigation--nojs & {
      display: none;
    }

    .main-navigation--closed &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-image: url("../../img/icon-menu.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    .main-navigation--opened &::before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-image: url("../../img/icon-cross.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }

    &:hover::before,
    &:focus::before {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.3;
    }
  }

  .main-navigation__list {
    background-color: @bright-background;

    .main-navigation--closed & {
      display: none;
    }

    .main-navigation--opened & {
      position: absolute;
      transform: translateY(-100%);
    }
  }

  .main-navigation__item {
    margin-bottom: 1px;

    &:last-child {
      margin: 0;
      position: relative;
    }

    &:last-child::after {
      content: "";
      width: 100%;
      height: 7px;
      display: block;
      position: absolute;
      transform: translateY(-100%);
      background: linear-gradient(180deg, fade(@general-black, 0%) 0%, fade(@general-black, 20%) 100%);
    }
  }

  .main-navigation__link {
    font-size: 18px;
    box-shadow: inset 0 1px 0 @ghost-white, 0 -1px 0 @general-shadow;
    padding-top: 19px;
    padding-bottom: 15px;
  }
}

@media (min-width: @tablet-width) {
  .main-navigation__toggle-button {
    display: none;
  }

  .main-navigation__list {
    display: flex;
  }

  .main-navigation__item {
    width: 20%;

    &:nth-child(3n) {
      margin-left: auto;
    }
  }

  .main-navigation__link {
    line-height: 26px;
    padding: 15px;
    background-color: inherit;
    color: inherit;

    &:hover,
    &:focus {
      background-color: inherit;
      color: @bright-background;
    }

    &:active {
      background-color: inherit;
      color: @general-black;
      opacity: 0.3;
    }

    a&:not([href]) {
      background-color: inherit;
      color: @menu-active;
    }

    a&:not([href]):hover,
    a&:not([href]):focus {
      background-color: inherit;
      color: @menu-active-hover;
    }

    a&:not([href]):active {
      background-color: inherit;
      color: @menu-active;
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-navigation__wrapper {
    padding: 15px 0;
  }

  .main-navigation__link {
    display: inline;
    padding: 0;
  }
}
