.page-body__container {
  min-width: 320px;
  max-width: @mobile-container;
  margin: 0 auto;
}

.page-body__review-modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-body__container {
    max-width: @tablet-container;
  }
}

@media (min-width: @desktop-width) {
  .page-body__container {
    max-width: @desktop-container;
    box-shadow: 0 5px 15px @general-shadow;
  }
}
