.reasons__heading {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @dark-text;
}

.reasons__list {
  .list-reset();

  &--with-photo::before {
    content: "";
    background-image: url("../../img/bg-triangle.svg");
    background-color: @bright-background;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
  }

  &--with-photo {
    padding-top: 52px;
    background-color: @bright-background;
  }

  &--other {
    background-color: @general-white;
    text-align: left;
  }

  &--without-photo {
    background-color: @dim-background;
  }
}

.reasons__item {
  &--without-photo {
    padding: 0 20px;
  }
}

.reasons__text-wrapper {
  padding: 10px;

  &--other {
    padding-left: 70px;
  }

  .reasons__item--without-photo & {
    border-bottom: 1px solid @reason-border;
  }

  .reasons__item--without-photo:last-child & {
    border: none;
  }
}

.reasons__item-heading {
  font-size: 18px;
  line-height: 26px;

  &--light {
    color: @general-white;
  }
}

.reasons__item-number,
.reasons__item-description {
  color: @dark-text;

  &--light {
    color: @general-white;
  }
}

.reasons__item-photo {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media (min-width: @tablet-width) {
  .reasons__list {
    &--with-photo {
      padding-top: 0;
    }

    &--other,
    &--without-photo {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .reasons__item-wrapper {
    display: flex;
  }

  .reasons__text-wrapper {
    .reasons__item-wrapper > & {
      box-sizing: border-box;
      width: 33.333333%;
    }

    &--other {
      padding: 10px;
      padding-top: 158px;
      text-align: center;
    }

    .reasons__item--without-photo & {
      border: none;
    }
  }

  .reasons__item-photo {
    height: 256px;
    width: 66.666666%;

    .reasons__item--bridge & {
      order: -1;
    }
  }
}
